---
layout: default
---

<div class="container intro">
  <div class="col6 first">
    &nbsp;
  </div>
  <div class="col64">
    {% include idee.html %}
  </div>
  <div class="col6 last">
    &nbsp;
  </div>
</div>

<div class="container slideshow">
  <div class="col1">
    {% include slideshow.html %}
  </div>
</div>

<div class="container slices">
  <div class="col2 first">
    {% include location.html %}
  </div>
  <div class="col2 last">
    {% include philosophie.html %}
  </div>
</div>

<div class="container footer">
  <div class="col1">
    {% include kontakt.html %}
  </div>
</div>

