---
layout: default
---

<div class="container intro">
  <div class="col6 first">
    &nbsp;
  </div>
  <div class="col64">
    <h1>Regionales Weinerlebnis</h1>
    <p>Heuchelberger Spezialit&auml;ten und [...] aus den heimischen Weinbergen [...] Ipsum llorem bla blabla blablabla bla blabla bla bla [...]</p>
  </div>
  <div class="col6 last">
    &nbsp;
  </div>
</div>

<div class="container slideshow">
  <div class="col1">
    {% include slideshow.html %}
  </div>
</div>

<div class="container slices">
  <div class="col3 first">
    {% include idee.html %}
  </div>
  <div class="col3">
    {% include location.html %}
  </div>
  <div class="col3 last">
    {% include philosophie.html %}
  </div>
</div>

<div class="container footer">
  <div class="col1">
    {% include kontakt.html %}
  </div>
</div>

