/* vendor */

@import "compass/reset";
@import "compass/css3";

/* libs */

@import "widgets";


/* cols */

$col1: #000;
$col2: #E9B800;

$col1-ultradark: $col1;
$col1-superdark: lighten($col1, 5%);
$col1-dark: lighten($col1, 10%);
$col1-semidark: lighten($col1, 15%);
$col1-normal: lighten($col1, 20%);
$col1-semibright: lighten($col1, 30%);
$col1-bright: lighten($col1, 35%);
$col1-superbright: lighten($col1, 40%);
$col1-ultrabright: lighten($col1, 45%);

$col2-dark: darken($col2, 10%);
$col2-normal: $col2;
$col2-semibright: lighten($col2, 10%);
$col2-bright: lighten($col2, 35%);
$col2-superbright: lighten($col2, 40%);
$col2-ultrabright: lighten($col2, 45%);

/* layout-settings */

$header-height: 200px;
$header-line-height: 24px;
$logo-height: 150px;

$padding: 16px;
$bright-text: #ccc;
$normal-text: #777;
$dark-text: #333;
a {
  color: $normal-text;
  text-decoration: none;
  
  &:hover {
   color: red;
  }
}

body {
  background: #000;
  * {
    font-family: "Lucida Grande";
  }
}

.header {
  @include background(image-url('banner.png') no-repeat center bottom);
  height: $header-height;
  .logo-container {
    margin-left: 20%;
    height: $header-height;
    img {
      margin-top: ($header-height - $logo-height);
    }
    display: inline-block;
  }
  .next-event-container {
    float: right;
  }
}

.intro {
  @include simple-block;
  @include linear-gradient(#ddd, #fff);
  padding-bottom: $padding;
  p {
    &.authors {
      @include rotate(-2deg);
      text-align: right;
      font-weight: bold;
    }
  }
  border-bottom: 1px solid #ccc;
}

.slideshow {
  @include background-image(linear-gradient($col2-bright, $col2-ultrabright));
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-align: center;
  ul {
    li {
      display: inline-block;
      margin: $padding 0 $padding $padding/2;
      img {
        @include border-radius(3px 3px);
      }
    }
  }
}

.location {
  border-top: 1px solid #ccc;
  @include simple-block;
  border-bottom: 1px solid #ccc;
}

.philosophie {
  @include simple-block;
}

#next-event {
  position: fixed;
  right: 20px;

  cursor: pointer;
    
  @include box-shadow(#333 1px 1px 3px);
    
  &, & * {
    @include transition-duration(0.5s);
    @include transition-property(all);
  }
  
  @include border-radius(0 0 3px 3px);
  padding: $padding/3;
  
  h1 {
    color: #000;
  }
  a {
    color: #fff;
    @include text-shadow(rgba(#000, 0.9) 1px 1px 2px);
  }
  &.down {
    background: #000;
    h1 {
      color: #ccc;
    }
  }
  &:hover {
    background: $col2-normal;
    color: #000;
    h1 {
      color: #000;
    }
  }
}

.footer {
  background: $col1-superdark;
  padding: $padding 20% 2*$padding 20%;
  h1 {
    margin: $padding 0 $padding 0;
    font-size: 1.5em;
    color: $col1-normal;
    @include text-shadow(rgba(#000, 0.9) 1px 1px 0);
    display: inline-block;
  }
  p {
    color: $col1-superbright;
    margin: 0 0 $padding 0;
  }
  a {
    color: $col1-normal;
    &:hover {
      color: $col1-bright;
    }
  }
}

.copyright {
  background: $col1-ultradark;
  padding: $padding 20%;
  border-top: 1px solid $col1-dark;
  p {
    text-align: center;
    font-size: 0.9em;
    color: $col1-normal;
  }
}