/* vendor */

@import "compass/reset";
@import "compass/css3";
@import "susy";

/* libs */

@import "widgets";


/* cols */

$col1: #000;
$col2: #E9B800;

$col1-ultradark: darken($col1, 10%);
$col1-superdark: $col1;
$col1-dark: lighten($col1, 5%);
$col1-semidark: lighten($col1, 15%);
$col1-normal: lighten($col1, 20%);
$col1-semibright: lighten($col1, 30%);
$col1-bright: lighten($col1, 35%);
$col1-superbright: lighten($col1, 40%);
$col1-ultrabright: lighten($col1, 45%);

$col2-normal: $col2;
$col2-semibright: lighten($col2, 10%);
$col2-bright: lighten($col2, 35%);
$col2-superbright: lighten($col2, 40%);
$col2-ultrabright: lighten($col2, 45%);

/* layout-settings */

$header-height: 200px;
$header-line-height: 24px;
$logo-height: 150px;

$padding: 16px;
$bright-text: #ccc;
$normal-text: #777;
$dark-text: #333;
$banner-img: "/images/banner.png";

a {
  color: $normal-text;
  text-decoration: none;
  
  &:hover {
   color: red;
  }
}

body {
  background: #000;
}

/* susy grid */
$total-cols: 12;
$col-width: 6.25%;
$gutter-width: 0%;
$side-gutter-width: 12.5%;

.container {
  @include container;
  background: #fff;
  
  .first { @include alpha; }
  .last { @include omega; }
  
  .col6 {
    @include columns(2);
  }
  .col4 {
    @include columns(3);
  }
  .col3, .col62 {
    @include columns(4);
  }
  .col2, .col42, .col63 {
    @include columns(6);
  }
  .col32, .col64 {
    @include columns(8);
  }
  .col1 {
    @include full;
  }
  
  * {
    font-family: "Lucida Grande";
  }
}


.header {
  background: url($banner-img) center bottom;
  .first {
    height: $header-height;
    img {
      margin-top: ($header-height - $logo-height);
    }
  }
  .last {
    height: $header-height;
  }
}

.intro {
  h1 {
    font-size: 2.5em;
    margin: $padding*3 0 $padding 0;
  }
  p {
    margin: $padding 0 $padding*3 0;
  }
}

.slideshow {
  text-align: center;
  ul {
    background: $col2-ultrabright;
    @include border-radius(3px 3px);
    @include box-shadow(#999 1px 1px 3px);
    li {
      display: inline-block;
      margin: $padding/2 0 $padding/2 $padding/2;
      img {
        @include border-radius(3px 3px);
      }
    }
  }
}

.next-event {
  .line {
    float: right;
    margin-bottom: ($header-height - $header-line-height - $padding);

    @include box-shadow(#000 1px 1px 3px);
    @include transition-duration(0.5s);
    @include transition-property(all);
    
    @include border-radius(0 0 3px 3px);
    padding: $padding/3;
    
    h1 {
      color: #000;
    }
    a {
      color: #fff;
      @include text-shadow(rgba(#000, 0.9) 1px 1px 2px);
    }
    &:hover {
      background: $col2-normal;
      color: #000;
    }
  }
}

.dark-bg {
  @include box-shadow(inset #333 0 0 10px);
  @include linear-gradient(color-stops($col1-semidark, $col1-normal));
}

p { color: #999; }

.slices {
  h1 {
    margin: 3*$padding 0 1*$padding 0;
    font-size: 1.5em;
  }
  p {
    margin: 1*$padding 0 3*$padding 0;
  }
}

.footer {
  @include box-shadow(inset #000 0 5px 30px);
  background: $col1-ultradark;
  
  h1 {
    margin: 2*$padding 0 $padding 0;
    font-size: 1.5em;
    color: $col1-normal;
    @include text-shadow(rgba(#000, 0.9) 1px 1px 0);
    display: inline-block;
  }
  p {
    color: $col1-superbright;
    margin: 0 0 4*$padding 0;
  }
  a {
    color: $col1-normal;
    &:hover {
      color: $col1-dark;
    }
  }
}