.clear {
  clear: both;
}

@mixin horizontal-navigation {
  li {
    display: inline;
    a {
      display: inline-block;
    }
  }  
}

// hide but enable screen readers to show the text
@mixin readable-hide() {
  position: absolute;
  margin-left: -9999em;
  overflow: hidden;
}

@mixin hlist {
  float: left;
  li {
    display: inline-block;
    float: left;
  }
}