<h1>Idee</h1>
<p>
  Wer guten Wein sch&auml;tzt, der wird mit der Zeit auch gutes Essen lieben lernen. Wer gleichfalls zuerst auf gutes Essen schw&ouml;rt, der wird irgendwann den Weg zum Wein finden.
<p>
<p>
  Die Feinschmeckermanufaktur wurde aus diesen 2 S&auml;tzen geboren. Ein Winzer der seinen kulinarischen Horizont erweitern wollte und ein Gusto welcher gerade seine ersten Gehversuche in der gro&szlig;en Weinwelt wagte. Wir lieben das Leben und die vielf&auml;ltigen Gen&uuml;sse, die es f&uuml;r uns bereit h&auml;lt und m&ouml;chten auch Sie daran teilhaben lassen.
</p>
<p>
  Kai Krull & Patrick Schuster
</p>